absl-py==0.8.1
alabaster==0.7.12
allennlp==0.8.4
appdirs==1.4.4
astor==0.8.0
attrs==20.2.0
autoflake==1.4
awscli==1.18.140
Babel==2.8.0
bandit==1.6.2
black==20.8b1
blis==0.2.4
boto3==1.14.63
botocore==1.17.63
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
ConfigArgParse==1.2.3
conllu==0.11
coverage==5.3
cycler==0.10.0
cymem==2.0.3
darglint==1.5.5
dataclasses==0.7
distlib==0.3.1
doc8==0.8.1
docutils==0.15.2
editdistance==0.5.3
engineering-notation==0.6.0
eradicate==1.0
fasttext==0.9.1
filelock==3.0.12
flake8==3.8.4
flake8-2020==1.6.0
flake8-bandit==2.1.2
flake8-broken-line==0.2.1
flake8-bugbear==19.8.0
flake8-builtins==1.5.3
flake8-commas==2.0.0
flake8-comprehensions==3.3.0
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-eradicate==0.4.0
flake8-fixme==1.1.1
flake8-isort==3.0.1
flake8-logging-format==0.6.0
flake8-mutable==1.2.0
flake8-polyfill==1.0.2
flake8-quotes==2.1.2
flake8-rst-docstrings==0.0.12
flake8-string-format==0.2.3
flake8-variables-names==0.0.3
flaky==3.7.0
Flask==1.1.2
Flask-Cors==3.0.9
ftfy==5.8
future==0.18.2
gast==0.2.2
gensim==3.8.3
gevent==20.6.2
gitdb==4.0.5
GitPython==3.1.11
glove-python==0.1.0
google-auth==1.7.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
greenlet==0.4.16
grpcio==1.25.0
h5py==2.10.0
hunspell==0.5.5
idna==2.8
imagesize==1.2.0
importlib-metadata==1.7.0
importlib-resources==3.3.0
iniconfig==1.0.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonnet==0.16.0
jsonpickle==1.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.5.0
murmurhash==1.0.2
mypy-extensions==0.4.3
nltk==3.4.5
numpy==1.17.4
numpydoc==1.1.0
oauthlib==3.1.0
OpenNMT-py==2.0.0rc1
opt-einsum==3.1.0
overrides==3.1.0
packaging==20.4
parsimonious==0.8.1
pathspec==0.8.1
pbr==5.5.1
pep8-naming==0.9.1
Pillow==7.2.0
pkg-resources==0.0.0
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
protobuf==3.11.1
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.5.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.1
pyonmttok==1.20.0
pyparsing==2.4.7
pytest==6.0.2
pytest-cov==2.10.1
python-dateutil==2.8.1
python-dev-tools==2020.9.10
python-Levenshtein==0.12.0
pytorch-pretrained-bert==0.6.2
pytz==2020.1
pyupgrade==2.7.4
PyYAML==5.3.1
regex==2020.7.14
requests==2.22.0
requests-oauthlib==1.3.0
responses==0.12.0
restructuredtext-lint==1.3.1
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.20.0
scipy==1.5.2
sentencepiece==0.1.91
six==1.13.0
smart-open==3.0.0
smmap==3.0.4
snowballstemmer==2.0.0
spacy==2.1.9
spark-parser==1.8.9
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
srsly==1.0.2
stevedore==3.2.2
tensorboard==2.0.2
tensorboardX==2.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
testfixtures==6.15.0
thinc==7.0.8
tk-tools==0.12.0
tokenize-rt==4.0.0
toml==0.10.1
torch==1.6.0+cpu
torchtext==0.4.0
torchvision==0.7.0+cpu
tox==3.20.1
tox-travis==0.12
tqdm==4.49.0
transformers==2.2.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
uncompyle6==3.7.0
Unidecode==1.1.1
urllib3==1.25.10
virtualenv==20.1.0
waitress==1.4.4
wasabi==0.8.0
wcwidth==0.2.5
wemake-python-styleguide==0.14.1
Werkzeug==0.16.0
word2number==1.1
wrapt==1.11.2
xdis==4.6.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
